/*.yellow{
    color:black;
    background-color: yellow;
}
.red{
    color:black;
    background-color: red;
}
.text-light{
    color:white;
}*/
.bulb{
    height :340px;
    width:340px ;
    background-color: yellow;
}
.bulbstop{
    height :340px;
    width:340px ;
}
