*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.nav-logo{
    height:50px;
    width:120px;
    
}
.logo{
    background-image: url("logo.webp");
    height: 50px;
    width: 100%;
    background-size:contain;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

.first{
    font-size:0.85rem;
    color:#cccccc;
    margin-left: 15px;

}
.second{
    font-size:1rem;
    margin-left: 15px;
}
.address-icon{
    display:flex;
    align-items:center;
}
.nav-search{
    display:flex;
    justify-content: space-evenly;
    width: 620px;
    height: 45px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    
}
.search-input{
    width: 100%;
    font:1rem;
    border:none;
}
.search-icon{
    width:45px;
    background-color:orange;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 1.2rem;
    color:black;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.hello{
    height: 25px;
    width:120px;
    color:white;
    font-size: 12px;
}
.accounts{
    height: 20px;
    width:120px;
    color:white;
    font-size: 14px;

}
.returns{
    height: 25px;
    width:120px;
    color:white;
    font-size: 12px;
}
.ret{
    height: 20px;
    width:120px;
    color:white;
    font-size: 14px;
}
.cart i{
    font-size:35px;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display:flex; 
    color:white;
    align-items: center;
    justify-content: space-evenly;   
}
.panelops p{
    display:inline;
    margin-left: 15px;
}
.panelops{
    width: 75%;
    font:0.85rem;
    
}
.paneldeals{
    font:0.9rem;
    font-weight: 700;
}
.hero{
    background-image: url(img1.jpg);
    height:450px;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromessage{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.heromessage a
{
    color: #007185;
}
.shop{
    display :flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23.5%;
    background-color: white;
    padding :20px 0px 15px;
    margin-top:15px ;
    
}
.boximage {
    height:300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxcontent{
    margin-left:10px;
    margin-right: 10px ;

}
.boxcontent p{
    color:#007185;
}
footer{
    margin-top: 15px;
    width: 100%;
}
.footpanel1{
    background-color: #37475a;
    color :white ;
    height: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
}
.footpanel2{
    color:#dddddd ;
    background-color: #222f3d;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 25px;
}
ul p{
    font-size: 1rem;
}
ul a {
    display: block;
    font-size: .75rem;
    margin-top: 10px ;
    color:#dddddd;
}
.footpanel3{
    background-color: #222f3d;
    color:white;
    border-top: 2px solid white ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("logo.webp");
    height: 50px;
    width: 120px;
    background-size:contain;
    background-repeat: no-repeat;
}
.footpanel4{
    background-color:#0f1111;
    color :white ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.pages{
    font-size: .7rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    font-size: .7rem;
    text-align: center;
    margin-top: 5px;
}



